<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Đăng nhập</header>
      <form action="#" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" formControlName="username">
        </div>
        <div class="field input-field">
          <input type="password" placeholder="Mật khẩu" class="password"  formControlName="password">
        </div>
        <div class="form-link">
          <a href="#" class="forgot-pass">Quên mật khẩu?</a>
        </div>
        <div class="field button-field">
          <button>Đăng nhập</button>
        </div>
      </form>
      <div class="form-link">
        <span>Không có một tài khoản? <a href="#" class="link signup-link" routerLink="/register">Đăng ký</a></span>
      </div>
    </div>
  </div>
</section>
</body>
</html>


